-- Inventory host name: {{inventory_hostname}}
-- Total memory in MB: {{ansible_memtotal_mb}}
-- BIOS version: {{ansible_bios_version}}
-- Size of disk device vda: {{ansible_devices.vda.size}}
-- Size of disk device vdb: {{ansible_devices.vdb.size}}
